body{
    background-color: white;
}

.modal{
    position: absolute;
    /* right: 25%; */
    overflow-y:auto;
    overflow-x:auto;
    border-radius: 0px;
}
fieldset {
    width: 25vw;
    height: 50vh;
    background-color: rgb(250, 246, 246, .25);
    margin-top: 30%;
    margin-left: 1.25%;
    justify-content: space-evenly;

}

.add-link-form {
    height: 15vh;
    width: 30vw;
    border-radius: 0px;
    z-index: 2;
    /* background-color: white; */
    position: absolute;
    left: 50px;
}

.modal-content {
    height: min-content;
    width: min-content;
    position: relative;
}



/* fading in message 1-7 */
.disappearing-message-1, .disappearing-message-2, .disappearing-message-3, .disappearing-message-4,
.disappearing-message-5, .disappearing-message-6, .disappearing-message-7 {
    font-size: 30px;
    /* font-weight:900; */
    animation-timing-function: linear;
    animation: fadeInMessage 10s;
    font-family: 'Courier New', Courier, monospace sans-serif;
    color: white;
    margin-top: 5%;
    margin-left: 10%;

}
.disappearing-message-2, .disappearing-message-5 {
    font-weight: 900;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes example {
    0%   {color: white;}
    25%  {color: rgb(206, 206, 193);}
    50%  {color: rgb(156, 156, 160);}
    100% {color: rgb(209, 209, 209);}
}


.click-me:hover{
    border-top: ridge red;
    border-bottom: ridge red;
}

.category-link {
    border-top-width: 1px; 
    border-color: teal;
    border-style: ridge;
}

/* footer  */
